{% extends "manage.html" %}
{% block manage %}

    <div class="navbar navbar-expand navbar-light bg-white">
        <div class="flex-fill w-100 card" style="height: 100%;width: 100%">
            <div class="card-header">
                <h4 class="mb-0 card-title" style="float: left">模块管理</h4>
                <button onclick="add_module()" type="button" class="btn btn-success" style="float:right;">
                    <a href="/manage/module_add"></a>
                    新增</button>
            </div>
            <table class="my-0 table table-striped">

                <thead>

                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th>所属项目</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>编辑</th>
                </tr>
                </thead>
                <tbody>
                {% for m in module %}
                    <tr>
                        <td>{{ m.id }}</td>
                        <td>{{ m.name }}</td>
                        <td>{{ m.describe }}</td>
                        <td>{{ m.project }}</td>
                        <td>{{ m.create_time |date:"Y-m-d"}}</td>
                        <td>{{ m.update_time |date:"Y-m-d"}}</td>
                        <td>
                            <a href="/manage/module_edit/{{ m.id }}">编辑</a>
                            <a onclick="del_module()" href="/manage/module_delete/{{ m.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function add_module() {
            window.location.href = "/manage/module_add/";
        }

        function del_module() {
            window.confirm("是否确认要删除？")
        }
    </script>
{% endblock %}
